{% extends "base.html" %}
{% block content %}
<h2>重置密码</h2>
<form method="POST", novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
        {% if form.username.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}