/migrations
/app/__pycache__
/app/auth/__pycache__
/app/canvas/__pycache__
/app/app.db
/venv
/checkdb.py
/app/templates/canvas/view copy.html
/app/templates/canvas/edit copy.html
/app/templates/canvas/edit(2).html